In [157]:
import pandas as pd
import psycopg2
from configparser import ConfigParser

## __About__
Taking the audited and verified tables we'd created from the prior files, we're now going to further sanitize and standardize (and potentially combine) them to be analysis-ready by the end.

In [158]:
'''
Copied my config from my 'database-upload' file for ease-of-access.
'''

def config(filename="database.ini", section="postgresql"): # keeping filename for portability, changing later
    parser = ConfigParser() # creating parser
    parser.read(filename) # reading the .ini file
    db = {} # empty dictionary for database

    if parser.has_section(section): # checking if a config section exists
        params = parser.items(section) # "
        for param in params: # reading every setting
            db[param[0]] = param[1] # applying these for later use
        
    else:
        raise Exception("Section {0} not found in the {1} file".format(section, filename))
    
    try:
        conn = psycopg2.connect(**db) # connecting to the db by bypassing the dictionary
        print("Database connected successfully.")
    except:
        print("Database not connected successfully.")
        raise

    return conn

In [159]:
conn = config(filename=r"C:\Users\Jjoer\GitHub\Pokemon Stocks\database.ini") # connecting to db

df_cards = pd.read_sql_query("SELECT * FROM cards;", conn)
df_prices = pd.read_sql_query("SELECT * FROM prices;", conn)

conn.close() # closing the cursor

Database connected successfully.

C:\Users\Jjoer\AppData\Local\Temp\ipykernel_31612\1747593040.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_cards = pd.read_sql_query("SELECT * FROM cards;", conn)
C:\Users\Jjoer\AppData\Local\Temp\ipykernel_31612\1747593040.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_prices = pd.read_sql_query("SELECT * FROM prices;", conn)

---

### *Revisiting old files*
Having to redo the whole process is redundant, so now we'll turn that into functions to condense the process.

##### 'Cards' Table:

In [160]:
def audit_and_verify_cards_table():
    replacement_values = {"artist": "Unknown Artist", "rarity": "Unknown Rarity"}
    df_replace_artist_and_rarity = df_cards.fillna(value=replacement_values)
    df_cleaned_cards = df_replace_artist_and_rarity.drop(columns=['subtypes'])
    return df_cleaned_cards

df_cards2 = audit_and_verify_cards_table()
df_cards2.head(10)

,card_id,name,supertype,set_name,series,card_number,printed_total,artist,rarity
0,hgss4-1,Aggron,Pokémon,HS—Triumphant,HeartGold & SoulSilver,1,102,Kagemaru Himeno,Rare Holo
1,xy5-1,Weedle,Pokémon,Primal Clash,XY,1,160,Midori Harada,Common
2,pl1-1,Ampharos,Pokémon,Platinum,Platinum,1,127,Atsuko Nishida,Rare Holo
3,dp3-1,Ampharos,Pokémon,Secret Wonders,Diamond & Pearl,1,132,Kouki Saitou,Rare Holo
4,det1-1,Bulbasaur,Pokémon,Detective Pikachu,Sun & Moon,1,18,MPC Film,Common
5,dv1-1,Dratini,Pokémon,Dragon Vault,Black & White,1,20,Masakazu Fukuda,Rare Holo
6,mcd19-1,Caterpie,Pokémon,McDonald's Collection 2019,Other,1,12,Sekio,Unknown Rarity
7,pl3-1,Absol G,Pokémon,Supreme Victors,Platinum,1,147,Yusuke Ishikawa,Rare Holo
8,ex12-1,Aerodactyl,Pokémon,Legend Maker,EX,1,92,Hajime Kusajima,Rare Holo
9,ex3-1,Absol,Pokémon,Dragon,EX,1,97,Naoyo Kimura,Rare Holo

In [161]:
df_cards2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19818 entries, 0 to 19817
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   card_id        19818 non-null  object
 1   name           19818 non-null  object
 2   supertype      19818 non-null  object
 3   set_name       19818 non-null  object
 4   series         19818 non-null  object
 5   card_number    19818 non-null  object
 6   printed_total  19818 non-null  object
 7   artist         19818 non-null  object
 8   rarity         19818 non-null  object
dtypes: object(9)
memory usage: 1.4+ MB

---

#### 'Prices' Table

In [162]:
def audit_and_verify_prices_table():
    df_prices['market_price'] = df_prices['market_price'].fillna(df_prices['mid_price']) # filling all missing 'market_price' with mid_price for accuracy's sake
    df_dropped_prices = df_prices.drop(columns=["source", "condition_txt", "raw_json", "created_at"])
    return df_dropped_prices

df_prices2 = audit_and_verify_prices_table()
df_prices2.head(10)

,price_id,card_id,variant,updated_at,market_price,low_price,mid_price,high_price
0,1116,dp5-19,reverseHolofoil,2025-10-16,14.83,7.78,10.28,22.06
1,1117,sm5-28,normal,2025-10-16,0.19,0.09,0.21,2.00
2,1118,sm5-28,reverseHolofoil,2025-10-16,0.47,0.25,0.41,1.49
3,1119,np-18,holofoil,2025-10-16,14.27,8.01,11.26,18.49
4,1120,sm75-26,reverseHolofoil,2025-10-16,3.06,2.00,2.99,4.00
5,1121,sm75-26,normal,2025-10-16,0.56,0.27,0.66,4.50
6,1122,gym2-29,1stEdition,2025-10-16,163.73,99.99,199.99,299.99
7,1123,gym2-29,unlimited,2025-10-16,83.46,61.00,81.49,560.96
8,1124,xy5-26,normal,2025-10-16,3.23,0.54,2.00,4.88
9,1125,xy5-26,reverseHolofoil,2025-10-16,11.42,2.96,15.61,49.99

In [163]:
df_prices2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196236 entries, 0 to 196235
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price_id      196236 non-null  int64
 1   card_id       196236 non-null  object
 2   variant       196236 non-null  object
 3   updated_at    196236 non-null  object
 4   market_price  196236 non-null  float64
 5   low_price     196235 non-null  float64
 6   mid_price     196235 non-null  float64
 7   high_price    196235 non-null  float64
dtypes: float64(4), int64(1), object(3)
memory usage: 12.0+ MB

---

### Inspection and Cleaning

We'll now take to looking at and cleaning up the inconsistencies for the various columns in both of our tables.

#### 'Cards' Table:

In [164]:
for column in df_cards2:
    unique_values = df_cards2[column].unique()
    print(f"Unique values in column '{column}': {unique_values}")

Unique values in column 'card_id': ['hgss4-1' 'xy5-1' 'pl1-1' ... 'me2-62' 'me2-60' 'me2-61']
Unique values in column 'name': ['Aggron' 'Weedle' 'Ampharos' ... 'Mega Sharpedo ex' 'Mega Diancie ex'
 'Mega Gengar ex']
Unique values in column 'supertype': ['Pokémon' 'Trainer' 'Energy']
Unique values in column 'set_name': ['HS—Triumphant' 'Primal Clash' 'Platinum' 'Secret Wonders'
 'Detective Pikachu' 'Dragon Vault' "McDonald's Collection 2019"
 'Supreme Victors' 'Legend Maker' 'Dragon' 'Pokémon Rumble' 'Aquapolis'
 'Base Set 2' 'HeartGold & SoulSilver' 'Delta Species'
 'Team Rocket Returns' 'Gym Heroes' 'Fossil' 'Team Up' 'Flashfire'
 'POP Series 6' 'Steam Siege' 'Crystal Guardians' 'Cosmic Eclipse'
 'Black & White' 'Hidden Fates' 'Southern Islands' 'Diamond & Pearl'
 'Burning Shadows' 'POP Series 7' 'Gym Challenge' 'Call of Legends'
 'Emerald' 'Plasma Blast' "Champion's Path" 'Ancient Origins' 'Sun & Moon'
 'Holon Phantoms' 'Guardians Rising' 'Team Rocket' 'Phantom Forces'
 'Legendary Treasures' 'Team Magma vs Team Aqua' 'Next Destinies'
 'Plasma Freeze' 'Base' 'POP Series 3' 'Great Encounters'
 'Boundaries Crossed' 'Deoxys' 'Dark Explorers' 'POP Series 5'
 'Ultra Prism' 'Fates Collide' 'Lost Thunder' 'HS—Unleashed'
 'DP Black Star Promos' 'Sword & Shield' 'Wizards Black Star Promos'
 'Vivid Voltage' 'XY' 'POP Series 1' 'Plasma Storm' 'Legendary Collection'
 'POP Series 9' 'POP Series 4' 'Neo Destiny' 'Neo Revelation' 'Arceus'
 'Dragon Majesty' 'Unseen Forces' 'Dragons Exalted' 'Legends Awakened'
 'Shining Legends' 'SWSH Black Star Promos' 'Celestial Storm'
 'Neo Genesis' "McDonald's Collection 2012" 'Evolutions' 'Majestic Dawn'
 'Kalos Starter Set' 'Unified Minds' 'Noble Victories'
 'Nintendo Black Star Promos' 'Forbidden Light' 'Double Crisis'
 'HGSS Black Star Promos' 'Unbroken Bonds' 'XY Black Star Promos'
 'Rebel Clash' 'BW Black Star Promos' 'HS—Undaunted' 'BREAKpoint'
 'BREAKthrough' 'Furious Fists' 'Emerging Powers' 'Expedition Base Set'
 'Neo Discovery' 'Jungle' 'POP Series 2' 'Mysterious Treasures'
 'Darkness Ablaze' 'FireRed & LeafGreen' 'Skyridge' 'Stormfront'
 'Crimson Invasion' 'Generations' 'Roaring Skies' 'Power Keepers'
 'Hidden Legends' 'Ruby & Sapphire' 'Hidden Fates Shiny Vault'
 'Rising Rivals' 'Dragon Frontiers' 'Sandstorm' 'SM Black Star Promos'
 "McDonald's Collection 2011" 'POP Series 8' "McDonald's Collection 2016"
 '151' 'Shining Fates Shiny Vault' 'Shining Fates' 'Battle Styles'
 'Chilling Reign' 'Evolving Skies' 'Celebrations'
 'Celebrations: Classic Collection' "McDonald's Collection 2014"
 "McDonald's Collection 2015" "McDonald's Collection 2017"
 "McDonald's Collection 2018" "McDonald's Collection 2021" 'Best of Game'
 'Fusion Strike' 'Pokémon Futsal Collection' 'EX Trainer Kit Latias'
 'EX Trainer Kit Latios' 'EX Trainer Kit 2 Plusle'
 'EX Trainer Kit 2 Minun' 'Brilliant Stars'
 'Brilliant Stars Trainer Gallery' 'Astral Radiance'
 'Astral Radiance Trainer Gallery' 'Pokémon GO' 'Lost Origin'
 'Lost Origin Trainer Gallery' 'Silver Tempest'
 'Silver Tempest Trainer Gallery' "McDonald's Collection 2022"
 'Crown Zenith' 'Crown Zenith Galarian Gallery' 'Scarlet & Violet'
 'Scarlet & Violet Black Star Promos' 'Paldea Evolved'
 'Scarlet & Violet Energies' 'Obsidian Flames' 'Paradox Rift'
 'Paldean Fates' 'Temporal Forces' 'Twilight Masquerade' 'Shrouded Fable'
 'Stellar Crown' 'Surging Sparks' 'Prismatic Evolutions'
 'Journey Together' 'Destined Rivals' 'Scarlet & Violet Promos'
 'White Flare' 'Black Bolt' 'Mega Evolution' 'Phantasmal Flames']
Unique values in column 'series': ['HeartGold & SoulSilver' 'XY' 'Platinum' 'Diamond & Pearl' 'Sun & Moon'
 'Black & White' 'Other' 'EX' 'E-Card' 'Base' 'Gym' 'POP' 'Sword & Shield'
 'Neo' 'NP' 'Scarlet & Violet' 'Mega Evolution']
Unique values in column 'card_number': ['1' 'H1' 'H2' ... 'DP23' 'BW15' '21a']
Unique values in column 'printed_total': ['102' '160' '127' '132' '18' '20' '12' '147' '92' '97' '16' '130' '123'
 '113' '109' '62' '181' '106' '17' '114' '100' '236' '68' '95' '101' '73'
 '98' '149' '110' '145' '82' '119' '99' '116' '107' '108' '156' '124'
 '214' '56' '202' '53' '185' '146' '135' '105' '64' '70' '115' '307' '168'
 '111' '39' '40' '131' '34' '25' '211' '192' '90' '122' '162' '165' '75'
 '189' '112' '144' '83' '94' '248' '72' '163' '198' '203' '9' '264' '5'
 '10' '172' '30' '78' '196' '195' '15' '159' '215' '193' '197' '182' '91'
 '167' '142' '191' '150' '86']
Unique values in column 'artist': ['Kagemaru Himeno' 'Midori Harada' 'Atsuko Nishida' 'Kouki Saitou'
 'MPC Film' 'Masakazu Fukuda' 'Sekio' 'Yusuke Ishikawa' 'Hajime Kusajima'
 'Naoyo Kimura' 'Pokemon Rumble' 'Shin-ichi Yoshida' 'Ken Sugimori'
 'Naoki Saito' 'Sumiyoshi Kizuki' 'Mitsuhiro Arita' 'Kazuyuki Kano'
 'Kyoko Umemoto' 'Ryo Ueda' 'Daisuke Ito' 'Motofumi Fujiwara' 'kawayoo'
 'Framestore' 'Shibuzoh.' 'Hisao Nakamura' 'Emi Miwa' 'Satoshi Shirai'
 'OOYAMA' 'tetsuya koizumi' 'Keiko Fukuyama' 'Nakaoka' 'sui'
 'PLANETA Mochizuki' 'MAHOU' 'Kanako Eo' 'Yumi' 'Hironobu Yoshida'
 '5ban Graphics' 'Lee HyunJung' 'Keiji Kinebuchi' 'Shin Nagasawa'
 'Kyoko Koizumi' 'Yuka Morii' 'kirisAki' 'SATOSHI NAKAI' 'Aya Kusube'
 'K. Utsunomiya' 'Wataru Kawahara' 'PLANETA Igarashi' 'Eske Yoshinob'
 'Katsura Tabata' 'Toshinao Aoki' 'Mina Nakai' 'Ayaka Yoshida'
 'Miki Tanaka' 'Shin-ichi Yoshikawa, CR CG gangs' 'Suwama Chiaki'
 'Takabon' 'TOKIYA' 'sowsow' 'Akira Komayama' 'Eri Yamaki'
 'Keiko Moritsugu' 'match' 'K. Hoshiba' 'Mizue' 'Saya Tsuruta' 'kodama'
 'You Iribi' 'Hideki Ishikawa' 'Tomokazu Komiya' 'Kent Kanetsuna'
 'Yukiko Baba' 'Megumi Higuchi' 'nagimiso' 'Misa Tsutsui'
 'Masako Yamashita' 'PLANETA' 'AKIRA EGAWA' 'DemizuPosuka'
 'Sachiko Adachi' 'Ryuta Fuse' 'Takashi Yamaguchi' 'Yoshinobu Saito'
 'Megumi Mizutani' 'Hitoshi Ariga' 'Mt. TBT' 'Sanosuke Sakuma'
 'Shigenori Negishi' 'aky CG Works' 'Nobuyuki Fujimoto' 'Hideaki Hakozaki'
 'Anesaki Dynamic' 'Reiko Tanoue' 'PLANETA Tsuji' 'Milky Isobe'
 'Masahiko Ishii' 'Jungo Suzuki' 'Toyste Beach' 'Tomoaki Imakuni'
 'Kazuaki Aihara' 'CR CG gangs' '0313' 'Shizurow' 'Emi Ando' 'M. Akiyama'
 'Hiroki Fuchino' 'KEIICHIRO ITO' 'Kimiya Masago' 'Hasuno'
 'Hiroki Asanuma' 'Keita Komatsuya, CR CG gangs' 'hatachu' 'Noriko Hotta'
 'Gakuji Nomoto' 'Yuri Umemura' 'Yusuke Ohmura' 'HiRON'
 'Shin-ichi Yoshikawa' 'otumami' 'T. Honda' 'Asako Ito' 'so-taro'
 'Atsuko Ujiie' 'Uta' 'Hiroyuki Yamamoto' 'Hikaru Koike' 'Ryota Murayama'
 'Saki Hayashiro' 'Zu-Ka' 'HYOGONOSUKE' 'Christopher Rush' 'chibi'
 'Ken Ikuji' 'Takao Unno' 'GAME FREAK inc.' 'K. Hoshiba, CR CG gangs'
 'NC Empire' 'Kazuma Koda' 'Hiromichi Sugiyama' 'Satoshi Ohta'
 'Wataru Kawahara/Direc. Shinji Higuchi' 'miki kudo' 'Taira Akitsu'
 'Tika Matsuno' 'Ryota Saito' 'Makoto Imai' 'ryoma uratsuka'
 'Hideki Kazama' 'Souichirou Gunjima' '"Big Mama" Tagawa' 'sadaji'
 'kanahei' 'Yosuke Da Silva' 'Kazuo Yazawa' 'BERUBURI' 'Tomoko Wakai'
 'Takumi Akabane' 'Emi Yoshida' 'Jumpei Akasaka' 'Kunihiko Yuyama'
 'Craig Turvey' 'take' 'Kenkichi Toyama' 'Maiko Fujiwara'
 'Studio Bora Inc.' 'Hasegawa Saki' 'Asuka Iwashita' 'Hizuki Misono'
 'Hiroaki Ito' 'Aimi Tomita' 'Mikiko Takeda' 'Narumi Sato' 'Kouji Tajima'
 'Unknown Artist' 'Hiromichi Sugiyama, CR CG gangs'
 'The Pokémon Company Art Team' 'Tomohiro Kitakaze'
 'Jungo Suzuki, CR CG gangs' '"Big Mama" Tagawa, CR CG gangs'
 'Hideyuki Nakajima' 'Etsuya Hattori' '"Big Mama" Tagawa & Benimaru Itoh'
 'Yuichi Sawayama' 'Shinji Higuchi + Sachiko Eba' 'PLANETA Otani'
 'Kai Ishikawa' 'Shinji Higuchi + Noriko Takaya'
 'Katsura Tabata, CR CG gangs' 'Yousuke Hirata, CR CG gangs'
 'Yasuki Watanabe' 'Ryuta Kusumi, CR CG gangs' 'Imakuni?' 'Shinji Higuchi'
 'Sachi Matoba' 'Daisuke Iwamoto' '2017 Pikachu Project' 'Pani Kobayashi'
 'Yusuke Shimada' 'Dr.Ooyama' 'Mana Ibe' 'Mikio Menjo' 'inose yukie'
 'Kent Kanetsuna/Direc. Shinji Higuchi' 'Ken Sugimori/Yusuke Ohmura'
 'aoki' '2019 Pikachu Project' 'Sakiko Maeda' 'Junsei Kuninobu'
 'ConceptLab' 'Q-rais' 'Noriko Uono' 'Nabana Kensaku' 'Tomomi Kaneko'
 'Misaki Hashimoto' 'Fumie Kittaka' 'Huang Tzu En' 'Avec Yoko'
 'Yuu Nishida' 'Kinu Nishimura' 'KIYOTAKA OSHIYAMA' 'Atsushi Furusawa'
 'Mika Pikazo' 'D.A.G Inc.' 'OKACHEKE' 'Teeziro' 'Oswaldo KATO'
 'Nagomi Nijo' 'AYUMI ODASHIMA' 'En Morikura' 'Yuya Oka' 'Yusuke Kozaki'
 'MUGENUP' 'K Hoshiba' 'PLANETA Yamashita' 'takuyoa' 'Nisota Niso'
 'N-DESIGN Inc.' 'Shinji Kanda' 'Rianti Hidayat' 'kurumitsu' 'zig'
 'GIDORA' 'Scav' 'yuu' 'Shiburingaru' 'DOM' 'Nurikabe' 'Hataya'
 'ORBITALLINK Inc.' 'saino misaki' 'GOSSAN' 'Ligton' 'akyCG Works'
 'Jiro Sasumo' 'Shinya Komatsu' 'James Turner' 'Souchirou Gunjima'
 'PLANETA Hiiragi' 'Amelicart' 'Nelnal' 'Haruko Ichikawa' 'Yano Keiji'
 'Nobuhiro Imagawa' 'Kurata So' 'nagano' 'Jerky' 'Gemi' 'Haru Akasaka'
 'SIE NANAHARA' 'kantaro' 'Atsuya Uki' 'Yoriyuki Ikegami' 'hncl'
 'Po-Suzuki' 'Taiga Kasai' 'Julie Hang' 'REND' 'Masako Tomii' 'Yoshioka'
 'toriyufu' 'matazo' 'Cona Nitanda' 'OKUBO' 'Natsumi Yoshida'
 'Tetsu Kayama' 'KYUPIYAMA' 'Tonji Matsuno' 'Bun Toujo' 'Takeshi Nakamura'
 'Kedamahadaitai Yawarakai' 'rika' 'satoma' 'Kariya' 'Keisin'
 'Taiga Kayama' 'Oku' 'MINAMINAMI Take' 'nisimono' 'KG-2000' 'Mousho'
 'aspara' 'Arai Kiriko' 'LINNE' 'Whisker' 'Takumi Wada' 'Benimaru Itoh'
 'akagi' 'USGMEN' 'Kuroimori' 'hanabushi' 'Dsuke' 'Miranda Branley'
 'Uninori' 'Rond' 'mingo' 'Saboteri' 'takashi shiraishi' 'Krgc' 'Orca'
 'cochi8i' 'Makura Tami' 'Katsunori Sato' 'mele' 'Natsumi Miyanose'
 'Shimaris Yukichi' 'Minato' 'Fujimoto Gold' 'osare' 'toi8' 'GOTO minori'
 'Mékayu' 'Susumu Maeya' 'Masa' 'Ounishi' 'Tomomi Ozaki' 'Gapao'
 'Kazumasa Yasukuni' 'danciao' 'Iwamoto05' 'Mugi Hamada'
 'MARINA Chikazawa' 'Yukihiro Tada' 'Yuriko Akase' 'Ayako Ozaki'
 'Felicia Chen' 'Minahamu' 'Shinya Mizuno' 'svlt' 'Iori Suzuki' 'Izucch'
 'mashu' 'Aliya Chen' 'Yoshimi Miyoshi' 'Terada Tera' 'Nakamura Ippan'
 'Tsuyoshi Nagano' 'YASHIRO Nanaco' 'IKEDA Saki' 'tono' 'Kanami Ogata'
 'buchi' 'kamonabe' 'Narano' 'Wintr Wandr' 'imoniii' 'Heisuke Kitazawa'
 'Mori Yuu' 'HICO KIM' 'Natsuko Shoji été' 'Yoko Hishida'
 'Kamome Shirahama' 'Eri Kamei' 'Tomowaka' 'Apios' 'okayamatakatoshi'
 'Yuka Tanaka' 'Hoshino KURO' 'Akino Fukuji' 'Nabatame Kazutaka'
 'Koji Nakata' 'Raita Kazama']
Unique values in column 'rarity': ['Rare Holo' 'Common' 'Unknown Rarity' 'Rare Holo GX' 'Rare' 'Uncommon'
 'Rare Holo V' 'Promo' 'Rare Holo EX' 'Rare Ultra' 'Rare Holo VMAX'
 'Rare Shiny' 'Rare BREAK' 'Rare Prism Star' 'Rare Shining'
 'Rare Shiny GX' 'Amazing Rare' 'Rare Rainbow' 'Rare Secret' 'Rare Prime'
 'Rare ACE' 'Rare Holo Star' 'LEGEND' 'Rare Holo LV.X'
 'Classic Collection' 'Rare Holo VSTAR' 'Trainer Gallery Rare Holo'
 'Radiant Rare' 'Double Rare' 'Illustration Rare' 'Ultra Rare'
 'Special Illustration Rare' 'Hyper Rare' 'Shiny Rare' 'Shiny Ultra Rare'
 'ACE SPEC Rare' 'Black White Rare' 'Mega Hyper Rare']

For our 'cards' table, there are no changes that we need to make.

---

#### 'Prices' Table:

In [165]:
for column in df_prices2:
    unique_values = df_prices2[column].unique()
    print(f"Unique values in column '{column}': {unique_values}")

Unique values in column 'price_id': [1116 1117 1118 ... 1113 1114 1115]
Unique values in column 'card_id': ['dp5-19' 'sm5-28' 'np-18' ... 'me2-130' 'me2-128' 'me2-126']
Unique values in column 'variant': ['reverseHolofoil' 'normal' 'holofoil' '1stEdition' 'unlimited'
 '1stEditionHolofoil' 'unlimitedHolofoil']
Unique values in column 'updated_at': [datetime.date(2025, 10, 16) datetime.date(2025, 9, 19)
 datetime.date(2025, 9, 17) datetime.date(2025, 9, 25)
 datetime.date(2025, 10, 14) datetime.date(2025, 7, 23)
 datetime.date(2025, 8, 15) datetime.date(2025, 5, 20)
 datetime.date(2024, 1, 15) datetime.date(2025, 10, 12)
 datetime.date(2025, 4, 28) datetime.date(2025, 8, 10)
 datetime.date(2025, 8, 9) datetime.date(2025, 6, 20)
 datetime.date(2025, 8, 3) datetime.date(2025, 9, 30)
 datetime.date(2025, 10, 1) datetime.date(2025, 5, 12)
 datetime.date(2025, 8, 13) datetime.date(2025, 8, 31)
 datetime.date(2025, 8, 4) datetime.date(2025, 7, 3)
 datetime.date(2025, 9, 16) datetime.date(2025, 7, 12)
 datetime.date(2025, 10, 13) datetime.date(2025, 9, 26)
 datetime.date(2025, 10, 6) datetime.date(2025, 7, 18)
 datetime.date(2023, 3, 1) datetime.date(2024, 2, 4)
 datetime.date(2025, 8, 29) datetime.date(2025, 6, 24)
 datetime.date(2025, 8, 8) datetime.date(2024, 6, 5)
 datetime.date(2025, 10, 21) datetime.date(2025, 10, 19)
 datetime.date(2025, 10, 18) datetime.date(2025, 10, 20)
 datetime.date(2025, 10, 29) datetime.date(2025, 10, 23)
 datetime.date(2025, 10, 26) datetime.date(2025, 10, 25)
 datetime.date(2025, 10, 28) datetime.date(2025, 11, 10)
 datetime.date(2025, 11, 9) datetime.date(2025, 10, 30)
 datetime.date(2025, 11, 6) datetime.date(2025, 11, 4)
 datetime.date(2025, 11, 7) datetime.date(2025, 11, 2)
 datetime.date(2025, 11, 3) datetime.date(2025, 11, 14)
 datetime.date(2025, 11, 13) datetime.date(2025, 11, 12)
 datetime.date(2025, 11, 11) datetime.date(2025, 11, 19)
 datetime.date(2025, 11, 16) datetime.date(2025, 11, 17)
 datetime.date(2025, 11, 15)]
Unique values in column 'market_price': [ 14.83   0.19   0.47 ... 160.04 104.59  23.37]
Unique values in column 'low_price': [7.7800e+00 9.0000e-02 2.5000e-01 ... 2.7032e+02 5.4330e+01 3.6760e+01]
Unique values in column 'mid_price': [10.28  0.21  0.41 ... 17.61 50.3  32.52]
Unique values in column 'high_price': [ 22.06   2.     1.49 ...  32.93  42.87 658.9 ]

For our 'prices' table, we'll need to not only change 'updated_at' to the date datatype, but we'll also reinforce the float datatype in the prices columns and change the names of the various 'variant' elements to be more readable.

In [166]:
columns_to_float = ["market_price", "low_price", "mid_price", "high_price"] # columns we want to reinforce as 'float64'
df_prices2[columns_to_float] = df_prices2[columns_to_float].astype('float64')
df_prices2['updated_at'] = pd.to_datetime(df_prices2['updated_at'])

df_prices2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196236 entries, 0 to 196235
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price_id      196236 non-null  int64
 1   card_id       196236 non-null  object
 2   variant       196236 non-null  object
 3   updated_at    196236 non-null  datetime64[ns]
 4   market_price  196236 non-null  float64
 5   low_price     196235 non-null  float64
 6   mid_price     196235 non-null  float64
 7   high_price    196235 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 12.0+ MB

Changing all the variants that we encountered for readability.

In [167]:
df_prices2["variant"] = df_prices2["variant"].replace({ # replacing en masse for readability
    "reverseHolofoil": "Reverse Holofoil",
    "normal": "Normal",
    "holofoil": "Holofoil",
    "1stEdition": "1st. Edition",
    "unlimited": "Unlimited",
    "1stEditionHolofoil": "1st. Edition Holofoil",
    "unlimitedHolofoil": "Unlimited Holofoil"})

df_prices2.head(10)

,price_id,card_id,variant,updated_at,market_price,low_price,mid_price,high_price
0,1116,dp5-19,Reverse Holofoil,2025-10-16,14.83,7.78,10.28,22.06
1,1117,sm5-28,Normal,2025-10-16,0.19,0.09,0.21,2.00
2,1118,sm5-28,Reverse Holofoil,2025-10-16,0.47,0.25,0.41,1.49
3,1119,np-18,Holofoil,2025-10-16,14.27,8.01,11.26,18.49
4,1120,sm75-26,Reverse Holofoil,2025-10-16,3.06,2.00,2.99,4.00
5,1121,sm75-26,Normal,2025-10-16,0.56,0.27,0.66,4.50
6,1122,gym2-29,1st. Edition,2025-10-16,163.73,99.99,199.99,299.99
7,1123,gym2-29,Unlimited,2025-10-16,83.46,61.00,81.49,560.96
8,1124,xy5-26,Normal,2025-10-16,3.23,0.54,2.00,4.88
9,1125,xy5-26,Reverse Holofoil,2025-10-16,11.42,2.96,15.61,49.99

---

### Checking the integrity between both tables

Finally, we need to make sure that every element between both tables has a match and there are no 'forgotten' or 'corrupt' cards/prices.

In [ ]:
orphaned_prices = df_prices2[~df_prices2["card_id"].isin(df_cards2['card_id'])] # using the ~ (not in) modifier to print out what's not shared between the two datasets

print(orphaned_prices)

(0, 8)

With that empty dataset, we're now able to see that we have no further issues needed to resolve and we can merge the rows proper and get to working on our analysis, having finally completed our pipeline.

---

### Merging tables to create one
And now it's time to merge tables and began our analysis proper.  Having completed